.background_image{
background-image: url('../image/table.jpg');
opacity: 100%;
height:680px;
width: 100%
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;

}
.centered {
  position: absolute;/* or absolute */
  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.bgimage_time{
background-color: #272525;
opacity: 100%;
height:300px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;
text-align: center;
}

.footer_color{
background-color: #0c0c0c;
color: #fff;
font-size: 13px;
}
.footerbottom_color{
background-color: #000000;
}
/* shadow start */
.con {
  position: relative;
  width: 50%;
}

.im {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.con:hover .overlay {
  opacity: 70%;
}

.text {
  color: #000000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  
  text-align: center;
}
/* shadow end */

.zoom {
transition: transform .4s;
width: 160px;
height: 160px;
}
.zoom:hover {
-ms-transform: scale(1.3); /* IE 9 */
-webkit-transform: scale(1.3); /* Safari 3-8 */
transform: scale(1.3);
}

.frame {
  height: 680px;
  width: 100%;
  
  background-color: #eee;
  background-position: center;
  background-size: cover;
  
  animation: image 6s infinite alternate;
}

@keyframes image {
  0% {
    background-image: url('../image/chicken.jpeg') ;
  }
  100% {
    background-image:  url('../image/table.jpg');
  }
}

.times1{
  height: 1200px;
 
  background-image: url('../image/dark.jpeg');
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
  }

.times2{
  height: 100%;
  background-image: linear-gradient(hsl(10,90,66), transparent 50%);
  background-size: 100% 100%;
  mix-blend-mode: difference;
  }

  .testimonials1{
  height: 1200px;
 background-image: url('../image/dark1.jpeg');
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
  opacity: 90%;
  }

.testimonials2{
  height: 100%;
  background-image: linear-gradient(hsl(10,90,66), transparent 50%);
  background-size: 100% 100%;
  mix-blend-mode: difference;
  }
  .checked {
  color: #ffffff;
  
}
.subcribe-form {
    margin: 0 auto;
    position: relative;
    max-width: 300px;
}
#subscribe input.enteremail {
    float: left;
    width: 70%;
    height: 40px;
    background: none;
    border: none;
    background: rgba(255,255,255,1.0);
    border-right: none;
    padding-left: 10px;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    color: #000 !important;
}
